[submodule "thirdParty/arduino-esp32"]
	path = thirdParty/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "thirdParty/ArduinoJson"]
	path = thirdParty/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "thirdParty/ESPAsyncWebServer"]
	path = thirdParty/ESPAsyncWebServer
	url = https://github.com/ESP32Async/ESPAsyncWebServer.git
[submodule "thirdParty/base64_arduino"]
	path = thirdParty/base64_arduino
	url = https://github.com/Densaugeo/base64_arduino.git
[submodule "thirdParty/makeEspArduino"]
	path = thirdParty/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
[submodule "thirdParty/AsyncTCP"]
	path = thirdParty/AsyncTCP
	url = https://github.com/ESP32Async/AsyncTCP.git
